iframe[data-blocked] {
  background: #f4f4f4;
  color: #444;
  overflow-y: hidden;
  position: relative;

  div {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.np-cookie-banner {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  z-index: 5000;

  @media screen and (min-width: 600px) {
    flex-flow: row nowrap;
  }

  &--top {
    top: 0;
    transform: translateY(-100%);
  }

  &--bottom {
    bottom: 0;
    transform: translateY(100%);
  }

  &--scroll-in {
    transform: translateY(0);
  }

  &__wrapper {
    padding: 1rem;
    font-size: .8rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__text {
    flex: 100%;
    padding-right: 1rem;
    text-align: center;

    @media screen and (min-width: 600px) {
      flex: 1 1 65%;
      text-align: left;
    }
  }

  &__controls {
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    @media screen and (min-width: 400px) {
      flex-flow: row nowrap;
    }

    @media screen and (min-width: 600px) {
      flex: 1 1 35%;
    }

    & button {
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
}
